<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mike182uk.switchaudio</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>050110D1-6771-4E97-9448-8CFDC1131FB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D3D1AC2-C053-4C31-BE59-103753E2769F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E64435D-07F4-42CA-849F-2686E582AB7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F943BD1-CFB0-4632-872D-FE5FAA0DCBFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F99906F-4E20-4988-A3C1-86F5283A2C30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAEC67CE-A9FE-489B-A006-20503304537E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AE6A8AD-748F-440B-B746-FF38608FF460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E64435D-07F4-42CA-849F-2686E582AB7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D3D1AC2-C053-4C31-BE59-103753E2769F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C10E9D60-5F99-43EE-8543-80B19D12B88B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F943BD1-CFB0-4632-872D-FE5FAA0DCBFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F27F7F1-9AFA-4B5F-9FC5-3FE71A3E0555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAEC67CE-A9FE-489B-A006-20503304537E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F943BD1-CFB0-4632-872D-FE5FAA0DCBFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C10E9D60-5F99-43EE-8543-80B19D12B88B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>293E5FBF-89AA-40A0-989A-C2CA90A9C426</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>08069BD9-3611-4A72-9E60-62BC25C0DDF2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CB2AC47-B29A-47EE-BF8A-B768A0B003B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Barrett (@mike182uk)</string>
	<key>description</key>
	<string>Set the current audio input / output device</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Switch Audio</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>set-audio-in</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices...</string>
				<key>script</key>
				<string>./get-devices.sh $SwitchAudioSource_path $jq_path input</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set input audio device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F99906F-4E20-4988-A3C1-86F5283A2C30</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>device_type</key>
					<string>input</string>
					<key>device_type_ucfirst</key>
					<string>Input</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BAEC67CE-A9FE-489B-A006-20503304537E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./set-device.sh $SwitchAudioSource_path $device_type {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F943BD1-CFB0-4632-872D-FE5FAA0DCBFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:device_type_ucfirst} audio device set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0F27F7F1-9AFA-4B5F-9FC5-3FE71A3E0555</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>set-audio-out</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading devices...</string>
				<key>script</key>
				<string>./get-devices.sh $SwitchAudioSource_path $jq_path output</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set output audio device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5AE6A8AD-748F-440B-B746-FF38608FF460</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>device_type</key>
					<string>output</string>
					<key>device_type_ucfirst</key>
					<string>Output</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0E64435D-07F4-42CA-849F-2686E582AB7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./set-group.sh $SwitchAudioSource_path $jq_path $config_path {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D3D1AC2-C053-4C31-BE59-103753E2769F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>set-audio-group</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading groups...</string>
				<key>script</key>
				<string>./get-groups.sh $jq_path $config_path</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set group of audio devices</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>050110D1-6771-4E97-9448-8CFDC1131FB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Audio devices in the group have been set</string>
				<key>title</key>
				<string>Audio group devices set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>293E5FBF-89AA-40A0-989A-C2CA90A9C426</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>input audio device set to .*\noutput audio device set to.*</string>
						<key>outputlabel</key>
						<string>ok</string>
						<key>uid</key>
						<string>08069BD9-3611-4A72-9E60-62BC25C0DDF2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>not ok</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C10E9D60-5F99-43EE-8543-80B19D12B88B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>There was a problem setting one or more of the audio devices in the group</string>
				<key>title</key>
				<string>Problem setting audio device</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CB2AC47-B29A-47EE-BF8A-B768A0B003B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Set the current audio input / output device

If required, modify the workflow environment variables to set the correct paths.</string>
	<key>uidata</key>
	<dict>
		<key>050110D1-6771-4E97-9448-8CFDC1131FB9</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>0E64435D-07F4-42CA-849F-2686E582AB7A</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>0F27F7F1-9AFA-4B5F-9FC5-3FE71A3E0555</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>293E5FBF-89AA-40A0-989A-C2CA90A9C426</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>4F99906F-4E20-4988-A3C1-86F5283A2C30</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>5AE6A8AD-748F-440B-B746-FF38608FF460</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>5D3D1AC2-C053-4C31-BE59-103753E2769F</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>5F943BD1-CFB0-4632-872D-FE5FAA0DCBFF</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8CB2AC47-B29A-47EE-BF8A-B768A0B003B9</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>BAEC67CE-A9FE-489B-A006-20503304537E</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>C10E9D60-5F99-43EE-8543-80B19D12B88B</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SwitchAudioSource_path</key>
		<string>/usr/local/bin/SwitchAudioSource</string>
		<key>config_path</key>
		<string>~/.alfred-switchaudio.json</string>
		<key>jq_path</key>
		<string>/usr/local/bin/jq</string>
	</dict>
	<key>version</key>
	<string>0.0.5</string>
	<key>webaddress</key>
	<string>https://github.com/mike182uk/alfred-switch-audio</string>
</dict>
</plist>
